# Dependencies
node_modules

# Build output
dist
*.tsbuildinfo

# Testing
coverage

# Environment
.env
.env.local

# IDE
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

test-results
playwright-report
.yarn

!.yarn/cache